.container {
  /* border: 3px #c4bbbb solid; */
  width: 90%;
  margin: auto;
}

.flex-container-sb {
  border: 1px #a39c9c solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  color: #335576;
  font-weight: bold;}

.nav li {
  display: inline;
  padding-left: 10px;
}

/*second header begin*/
.flex-container-sb-2nd {
 border: 1px #a39c9c solid;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.logo{
 color: #335576;
 font-weight: bold;}

.nav-2nd li {
 display: inline;
 padding-left: 10px;
}

/* 3rd header */
#header-3rd {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: solid 1px rgba(160, 160, 160, 0.3);
  border-top: solid 1px rgba(160, 160, 160, 0.3);
  height: 3.5em;
  left: 0;
  line-height: 3.5em;
  /* position: fixed; */
  top: 0;
  width: 100%;
  z-index: 10000;
}
#header-3rd a {
  color: red;
  text-decoration:none;
}
#header-3rd ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
#header-3rd ul li {
  display:inline-block;
  padding-left: 0;
}

#header-3rd .links ul li {
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  line-height: 1;
  margin-left: 1em;
  padding-left: 1em;
}
#header-3rd .links ul li a {
  border-bottom: 0;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}